{{ #directive }}
{{{ directive }}}
{{ /directive }}
import React from 'react';
import { {{name}}, {{name}}Props } from '@mui/material';

type {{prefix}}{{name}}Props = {{name}}Props;

export const {{prefix}}{{name}}: React.FC<{{prefix}}{{name}}Props> = (props) => <{{name}} {...props} />;
