{{ #directive }}
{{{ directive }}}
{{ /directive }}
import React from 'react';
import { {{name}}, {{name}}Props{{ #exports }}, {{{ exports }}}{{ /exports }} } from '@mui/material';

type {{prefix}}{{name}}Props{{ #typeGenerics }}<{{{ typeGenerics }}}>{{ /typeGenerics }} = {{name}}Props{{ #typeGenericsApplied }}<{{{ typeGenericsApplied }}}>{{ /typeGenericsApplied }};

{{^componentTypes}}  
export const {{prefix}}{{name}}: React.FC<{{prefix}}{{name}}Props> = (props) => <{{name}} {...props} />;
{{/componentTypes}}
{{#componentTypes}}  
export const {{prefix}}{{name}} = <{{componentTypes}},>(props: {{prefix}}{{name}}Props<{{componentTypes}}>) => <{{name}} {...props} />;
{{/componentTypes}}
