{{ #directive }}
{{{ directive }}}
{{ /directive }}
import React from 'react';
import { styled, {{name}}, {{name}}Props } from '@mui/material';

type {{customName}}Props = {{name}}Props;

export const {{customName}} = styled(({ ...props }: {{customName}}Props) => (
<{{name}} {...props} />
))(({ theme }) => ({}))

type {{prefix}}{{name}}Props = {{customName}}Props;

export const {{prefix}}{{name}}: React.FC<{{prefix}}{{name}}Props> = (props) => <{{customName}} {...props} />;

